* {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	margin: auto;
}


nav {
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 80px;
	top: 0;
	background: #ffffff;
	z-index: 1;
	position: sticky;
	border-bottom: 1px solid #364f6b;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li {
	float: left;
}

nav ul li a {
	color: black;
	font-weight: bold;
	text-align: center;
	padding: 0px 16px;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}

.logo a {
	font-size: 50px;
	font-weight: 800;
	float: left;
	font-family: courier;
	color: #364f6b;
}

.we {
	color: #7286D3;
}

.health {
	color: #364f6b;
}

.menu {
	float: right ;
}

.wrapper {
	width: 1100px;
	margin: auto;
}

section {
	margin: auto;
	display: flex;
	margin-bottom: 30px;
	margin-top: 30px;
}

.kolom {
	margin-top: 50px;
	margin-bottom: 50px;
}

.kolom #description {
	font-size: 20px;
	font-weight: 500;
	color: #364f6b;
}

.description {
	font-size: 20px;
	font-weight: 500;
	color: #364f6b;
	margin-bottom: 30px;
}

h2 {
	
	font-weight: 600;
	font-size: 45px;
	margin-bottom: 20px;
	color: #364f6b;
	width: 100%;
	line-height: 50px;
}

a.tbl-biru {
	background: #3F72AF;
	border-radius: 20px;
	margin-top: 20px;
	padding: 15px 20px;
	color: #ffffff;
	cursor: pointer;
	font-weight: bold;
}

a.tbl-biru:hover {
	background: #FC5185;
	text-decoration: none;
}

p {
	margin: 10px 0px;
	padding: 10px 0px;
}

.tengah {
	text-align: center;
	width: 100%;

}

#layanan {
	margin-bottom: 120px;
}

.layanan-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.kartu-layanan {
	width: 20%;
	margin: 0 auto;
}

.kartu-layanan img {
	width: 30%;
	border-radius: 50%;
}

.kartu-layanan p {
	font-weight: 800;
	font-size: 15px;
	text-align: center;
	color: #364f6b;
}

#artikel img {
	width: 40%;
	border-radius: 30px;
	margin: auto;
}

form {
	width: 70%;
	margin: auto;
	background-color: #B0DAFF;
	border-radius: 20px;
	text-align: left;
	border: none;
	padding: 25px 50px;
	margin-bottom: 30px;
}

label {
	display: block;
	padding: 3px 0px;
	margin-bottom: 10px;
}

input {
	margin: 0px;
	width: 100%;
	min-height: 30px;
	background-color: #ffffff;
	border: 1px solid black;
	border-radius: 3px;
	color: black;
}

#check {
	text-align: center;
	margin-top: 20px;
}


button {
	margin-top: 25px;
	width: 100%;
	padding: 10px;
	font-weight: bold;
}

#contact {
	background: #dedede;
	padding: 50px 0px;

}

footer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.footer-section {
	width: 20%;
	margin: 0 auto;
}

h3 {
	font-weight: 800;
	font-size: 30px;
	margin-bottom: 20px;
	color: #364f6b;
	width: 100%;
	line-height: 50px;
}

#contact p {
	font-size: 17px;
	color: #364f6b;
}

#copyright {
	color: #393646;
	background: #dedede;
	text-align: center;
	width: 100%;
	padding: 15px 0px;
}

.cr {
	margin-top: 10px;
}